# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
*.env

# VSCode settings
.vscode/

# Log files
*.log
logs/

# Database files
data/raw/
data/processed/